body {
    margin: 0;
}

.background-color_blue {
    background-color: rgb(27, 84, 221);
}

.logo {
    padding: 32px;
}

.text_white {
    color: white;
}

.front_page {
    display: grid;
    height: 100vh;
}

.aligment_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    background-color: rgb(232, 232, 232);
}