html,
body {
    margin: 0;
    height: 100%;

    /* Шрифт страницы */
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100%;
}

@media (max-width: 1024px) {
    .container {
        grid-template-areas:
            "header header"
            "main main"
            "left right"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-areas:
            "header"
            "main"
            "left"
            "right"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

.al-mid {
    display: flex;
    justify-content: center;
}

.al-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt-3 {
    padding-top: 30px;
}

header {
    grid-area: header;
    background-color: lightcoral;
}

main {
    grid-area: main;
    background-color: lightgrey;
    width: 100%;

    display: flex;
    justify-content: center;
}

.left {
    grid-area: left;
    background-color: lightsalmon;
}

.right {
    grid-area: right;
    background-color: lightgreen;
}

footer {
    grid-area: footer;
    background-color: lightblue;
}